a:link, a:active, a:visited {
color: #F19C0F;
font-size: 11; 
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;}

a:hover {
color: #ffffff;
font-size: 11;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;}

td {
color: #ffffff;
font-size: 11;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;} 

form { 
margin-bottom: 0; 
margin-top: 0; 
width: 140px; 
height: 20px; 
background-color: transparent;
font-size: 11px; 
color: #F19C0F; 
font-weight: normal;
font-family: Tahoma, Verdana, Arial, Helvetica;}

.input {
width: 140px; 
height: 20px; 
background-color: transparent;
border-width : 0px;
font-size: 10px; 
color: #F19C0F; 
font-weight: normal;
font-family: Tahoma, Verdana, Arial, Helvetica;}

.input_butt {
width: 60px;
height: 20px;
border: 1px;
border-color: #ffffff;
background-color: #F19C0F;
font-size: 11px;
color: #000000;
font-weight: normal;
font-family: Tahoma, Verdana, Arial, Helvetica;}

.title{
color: #F19C0F;
font-size: 13;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;}

.sub_title{
color: #F19C0F;
font-size: 11;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;}

.box_title{
color: #000000;
font-size: 11;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;}

BODY {
scrollbar-arrow-color: #F19C0F;
scrollbar-track-color: #000000;
scrollbar-face-color: #000000;
scrollbar-shadow-color: #F19C0F;
scrollbar-highlight-color: #F19C0F;
scrollbar-darkshadow-color: #000000;
scrollbar-3dlight-color: #000000;
background-color: #000000;
font-size: 11;
font-weight: normal;
color: #575757;
font-family: Arial, Helvetica, sans-serif;}
